*{
    margin: 0;
}
body{
    background-image: url(images/d39d821d92a963113752f9c42e0cf181\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-position-y: -50px;
   
}

div.header{
    margin-top: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    margin-bottom: 50px;
}
span.links:link{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;  
}
button.search_button{
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px #1c1c1c1b;
}
button.search:hover {background-color: #383838}

button.search:active {
  background-color: #00000009;
  box-shadow: 0 1px #1f1f1f;
  transform: translateY(1px);
}
span.header_icons{
    margin-left: 100px;
    padding-top: 10px;
}





div.footer{
    margin-top: 1000px;
    padding-bottom: 300px;
    background-color: black;
}
span.footer_content{
    margin-left: 200px;
   
}